.App {
  background-color: #1021a9;
}

.App__video {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  display: block;
}

@media (min-aspect-ratio: 16/9) {
  .App__video {
      width:100%;
      height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .App__video { 
    width:auto;
    height: 100%;
  }
}