*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'HelveticaNeueLight';
  src: local('HelveticaNeueLight'), url(./fonts/HelveticaNeueLight.ttf) format('truetype');
}

html {
  font-family: "HelveticaNeueLight";
  height: 100vh;
  width: 100vw;
  font-size: 10px;
  overflow: hidden;
}

body {
  height: 100vh;
  width: 100vw;
}

#root,
.App {
  color: white;
  height: 100%;
  width: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.App__lang {
  position: absolute;
  top: 100px;
  right: 0px;
  font-size: 1.5rem;
  transform: rotate(-90deg);
  z-index: 1;
}

.App__lang > span {
  cursor: pointer;
}

.App__Text {
  position: absolute;
  top: 8rem;
  right: 8rem;
  max-width: 65rem;
  display: flex;
  flex-direction: column;
  z-index: 2;
  align-items: flex-end;
}

.App__title {
  text-align: right;
  text-transform: uppercase;
  margin-bottom: 3rem;
  font-size: 4rem;
  font-weight: 500;
}

.App__description {
  display: inline-block;
  width: 100%;
  font-size: 1.2rem;
  text-align: right;
  font-size: 2rem;
  letter-spacing: 1px;
}

.App__Order {
  z-index: 2;
  position: absolute;
  bottom: 5rem;
  right: 8rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.App__Icon {
  margin-top: 2rem;
  height: 3rem;
  width: 3rem;
}

.App__video {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  display: block;
}

.App__audio {
  display: none;
}

.Order__title {
  font-size: 2rem;
  text-transform: uppercase;
}

.Order__cta {
  margin-top: 2rem;
  height: 5rem;
  display: inline-block;
  border-radius: 5rem;
  width: 13rem;
  background-color: #e92e49;
}

.Order__logo {
  height: 100%;
}

@keyframes scaleUp {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(1.3);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes fadeInLeftMob {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 0.2;
    transform: translateX(00%);
  }
}

@media (min-aspect-ratio: 16/9) {
  .App__video {
      width:100%;
      height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .App__video { 
    width:auto;
    height: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .App__Illustration {
    animation: fadeInLeftMob 4s;
    opacity: 0.2;
  }
  .Order__cta {
    outline: none;
    max-width: 20rem;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 8px;
  }
  .App__video {
    width: 100%;
    height: auto;
    min-height: auto;
  }
  .App__lang {
    top: 15px;
    right: 30px;
    font-size: 2rem;
    transform: rotate(0deg);
    z-index: 1;
  }
  .App__Text {
    top: 9rem;
    right: 0;
    left: 0;
    max-width: 100%;
    text-align: center;
  }
  .App__Icon {
    
    margin: 4rem auto 0 auto;
  }
  .App__title,
  .App__description {
    padding: 0 8rem;
    text-align: center;
  }
  .App__Order {
    bottom: 5rem;
    left: 50%;
    right: auto;
    position: absolute;
    transform: translateX(-50%);
  }
  .Order__cta {
    outline: none;
    width: 50vw;
  }
}

@media screen and (max-width: 425px) {
  .App__title,
  .App__description {
    padding: 0 2rem;
  }
}